<div class="footer">
    <div>
        <p>Contact{{'Contact' | translate}}</p>
            <label>{{'Email' | translate}}</label>
            <a href = "mailto: lvredeveld9@gmail.com">lvredeveld9@gmail.com</a>
        
    </div>

   
    <div class="footer-middle">
        <img src="assets/images/LMV-1.png"/>
        <p> {{'Copyright' | translate}}</p>
    </div>

    <div class="socials">
<a class="ankerGithub" href=">https://github.com/LmVredeveld/Portfolio-website"> <fa-icon class="github" [icon]="logoGithub"></fa-icon> <p>Github</p></a>


<a class="ankerLinkedin" href="https://www.linkedin.com/in/lorenzo-vredeveld-963a21157/"><fa-icon class="linkedin" [icon]="logoLinkedin"></fa-icon> <p>LinkedIn</p></a>
</div>
</div>